/* For all devices */

.current-member-table{
    border-collapse: separate;
    border-spacing: 2em;
}

.current-member > td > p{
    line-height:1.2;
}

@media print{
    .myname > h2 > a, .myname > h2{
        font-size:0.9em;
    }
    h1{
        font-size:0.5em;
    }
}

/* Desktop and Tablets */
@media screen and (min-width: 768px) {
}

/* Mobiles */
@media screen and (max-width: 768px) {
    h1{
        font-size:0.5em;
    }
    .current-member-photo tr{
        display: table;
        width: 100%;
    }
    td{
        display: table-row;
    }
    .myname {
        display: block;
        width: 100%;
        border: 2px;
        margin: 12px;
    }
    .myname > h2 > a, .myname > h2{
        font-size: 1em;
        padding: 0;
        text-align: center;
    }
    nav, nav > ul{
        justify-content: center;
        padding:1vw;
        margin:auto;
    }

    h2{
        text-align: center;
    }
}
