<tr class="current-member">
  <td class="current-member-photo"><img src="{{ printf "img/%s" .photo | relURL }}" width="240px" height="240px"></td>
  <td style="vertical-align:top; padding-top:12px;">
    <span style="font-weight:bold;">
      {{ if .webpage }}
      <a href="{{ .webpage }}">{{ .name }}</a>
      {{ else }}
      {{ .name }}
      {{ end }}
    </span>
    (<span style="font-size:0.8em; font-family:monospace;">{{ .email }}</span>)
    <p style="font-size:0.8em;">{{ .summary | safeHTML }}</p>
  </td>
</tr>
